@charset "UTF-8";

form {
    z-index: 2;
    position: fixed;
    top: 50%; left: -150px;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px black;
    transition-duration: 0.5s;
}

form p {
    font: normal bold 18px Arial, Helvetica, 'sans-serif';
    text-align: center;
    margin-bottom: 20px;

}

form input {
    font-family: sans-serif;
    margin-bottom: 10px;
    padding: 10px;
    width: 260px;
    border: 1px solid black;
    border-radius: 10px;
}

form textarea {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    min-width: 260px;
    max-width: 260px;
    min-height: 100px;
    max-height: 200px;
}

form button {
    width: 260px;
    height: 50px;
    display: block;
    width: 200px;
    height: 50px;
    margin: auto;
    margin-top: 20px;
    background-color: #06387A;
    color: white;
    font: normal bold 18px Arial, Helvetica, 'sans-serif';
    border-radius: 5px;
    border: none;
    box-shadow: 4px 3px 5px rgba(0, 0, 0, 0.514);
}
    
form button:hover {
    background-color: #052550;
    box-shadow: inset 2px 2px 5px 0px rgba(0, 0, 0, 0.514);
    cursor: pointer;
}