@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: normal normal 18px Arial, Helvetica, 'sans-serif';
    background: rgb(2,0,36);
    background: linear-gradient(129deg, rgba(2,0,36,1) 18%, rgba(9,9,121,1) 38%, rgba(4,128,199,1) 65%, rgba(0,212,255,1) 100%);
    display: flex;
    height: 100vh; width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

body > img {
    border-radius: 50px;
    max-width: 80vw;
    max-width: 350px; 
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.267);
}

main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: start;

    background: rgba(255, 255, 255, 0.699);
    max-width: 400px; height: 600px;
    min-width: 320px;
    padding-top: 30px;

    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.438);
}

div {
    box-sizing: content-box;
    border: 2px solid transparent;
    margin: 0px 40px;
    display: flex; gap: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.507);

    max-width: 350px; height: 50px;
    min-width: 320px;
    border-radius: 20px;
    opacity: 70%;

    background: rgb(2,0,36);
    background: linear-gradient(129deg, rgba(2,0,36,1) 18%, rgba(9,9,121,1) 38%, rgba(4,128,199,1) 65%, rgba(0,212,255,1) 100%);
    transition-duration: .3s;
    color: white;
}

div img {
    width: 30px;
}

a {
    text-decoration: none;
}

#insta {
    width: 52px;
}

main > a > figure > img {
    width: 60px;
    transform: rotate(180deg);
}

figure {
    text-align: center;
    color: black;
    text-transform: uppercase;
    font: normal bold 18px arial;
}

div.blank {
    opacity: 0;
}

div:hover {
    font-size: 20px;
    border: 2px solid rgba(255, 255, 255, 0.712);
    padding: 3px;
    transition: 0.3s;
}